$def with()
<html>
    <head>
        <title>Neural Network Configuration</title>
        <link rel="stylesheet" type="text/css" href="static/styles.css" />
        <link rel="stylesheet" type="text/css" href="static/jquery-ui.css"/>
        <script src="static/jquery-3.3.1.js"></script>
        <script src="static/jquery-ui.js"></script>
        
    </head>
    <body>
            <h2 class="assignment">Assignment</h2>
            <div id="tabs">
                <ul>
                    <li><a href="#tab1">Neural Netowrk</a></li>
                    <li><a href="#tab2">Details</a></li>
                    <li><a href="#tab3">About</a></li>
                </ul>
                <div id="tab1">
                    <div class="row">
                        <div class="column left">
                            <div id="fileUpload">
                                <form method="POST" name="upload" id="upload" enctype="multipart/form-data">
                                   <label> File: </label> <input type="file" name="dataFile" id="dataFile"/> 
                                    <button type="submit" id="data" style = "vertical-align:middle" class="button"><span>Upload</span></button> 
                                    <label id="status" name="status"> </label> 
                                </form>
                            </div>
                            <div class ="settings">
                                <label><h2>Neuron Settings:</h2></label>
                                <form method="post" name="neuron" id="neuron">
                                    <table class=config>
                                        <thead>
                                            
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><label>Learning Rate:</label> </td>
                                                <td><input type="number" name="learning" min="0.001" max="1" step = "0.01" value="0.001"></td>
                                            </tr>
                                                <td><label> Epochs:</label> </td>
                                                <td><input type="number" name="epoch" min="50" max="500" step="50" value="300"></td>
                                            </tr>
                                            <tr> 
                                                <td> <label> Hidden Layers </label></td>
                                                <td><input type="number" name="hidden_layers" min="1" max="3" value="1" disabled></td>
                                            </tr>
                                            <tr>
                                                <td> <label>Input Neuron Nodes: </label></td>
                                                <td><input type="number" name="input" min="1" max="108" value="108" disabled></td>
                                            </tr>
                                            <tr>
                                                <td> <label>Output Neuron Nodes</label></td>
                                                <td><input type="number" name="output" min ="1" max="100" value="25" disabled></td>
                                            </tr>
                                            <tr>
                                                <td> <label> Hidden Units</label></td>
                                                <td><input type="number" name="hidden"  min="1" max="200" value="100"></td>
                                            </tr>
                                            <tr>
                                                <td><label>Decay Rate:</label></td>
                                                <td><input type="text" name="decay_rate" value="0.00001"></td>
                                            </tr>
                                            <tr>
                                                <td><button type="submit" id="train" name="train" style = "vertical-align:middle" class="button"><span>Train</span></button> </td>
                                                <td><label>New Model</label><input type="checkbox" name="new_model"/></td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                        <div class="column right" >
                            <div class="displayData" style="overflow-x:auto;">

                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab2"></div>
                <div id="tab3"></div>
            </div>
    <script src="static/process.js"></script>
    </body>
</html>