.assignment {
    margin-top: 2em;
}
body{
    font-family: "Trebuchet MS", sans-serif;
    margin: 50px;
}

/* Label CSS */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: bold
}

/* Input Box CSS */

input[type=number], input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
/* Buttoon CSS*/
.button {
    background-color: #000080; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Checkbox CSS*/
input[type=checkbox] {
    background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
/* Data Frame CSS*/
.dataframe {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
}

.dataframe th, td {
    text-align: left;
    padding: 8px;
}
.dataframe,.results tr:nth-child(even){background-color: #f2f2f2}

/* Result table */
.results {
    border-collapse: collapse;
    border-spacing: 5;
    display: block;
    width: 500px;
    height: 100%;
    
}
.results  th, td{
    text-align: left;
    padding: 8px;
}
/* Column CSS */
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.left {
    width: 35%;
  }
  
  .right {
    width: 65%;
  }
* {
    box-sizing: border-box;
}

/* Config Table CSS*/
.config, {
    padding: 16px;
    display: block;
}